.header{
    padding: 16px 0px;
}

.burger-menu{
    fill: #212121;
}

.menu-button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 276px;

}

.menu-button .cross-menu{
    display: none;
    
}

.menu-button.is-open .cross-menu{
    display: block;

}

.menu-button.is-open .burger-menu{
    display: none;
    
}

.header__div-nav{
    position: relative;
    
}

.menu-container{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
     background-color: #ff456f;
     color: #212121;
    padding: 48px 40px;
    font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        
        letter-spacing: 0.02em;

        &.is-open{
            display: block;
        }
}


.header {
    border-bottom: 1px solid #ececec;
}

.header__div-nav {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    
    
}

.navbar__logospan {
    color: var(--accent-color);
}

.navbar__logo-webstudio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.menu-container--opened{
    color: var(--accent-color);
}

.sitenav {
    display: none;
    // display: flex;
    // margin-left: 93px;
}

// .sitenav__item:not(:last-child) {
//     margin-right: 50px;
// }

// .sitenav__link {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-size: 14px;
//     line-height: 1.1;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// &:hover,
// &:focus {
//     color: var(--accent-color);
// }
// }



// .sitenav__link--opened {
//     position: relative;
//     color: var(--accent-color);

//     &::after {
//             content: '';
//             position: absolute;
//             left: 0;
//             bottom: -1px;
//             display: block;
//             width: 100%;
//             height: 4px;
//             background-color: #2196f3;
//             border-radius: 2px;
//         }
// }



.auth-nav {
    display: none;
    // display: flex;
    // margin-left: auto;
}

// .auth-nav__item+.auth-nav__item {
//     margin-left: 50px;
// }

// .auth-nav__link {
//     display: flex;
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;
// font-size: 14px;
//     line-height: 1.1;
//     color: var(--secondary-color);
//     letter-spacing: 0.02em;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//         &:focus {
//             color: var(--accent-color);
//         }
//                 &:hover .auth-nav__contacts-icon,
//                 &:focus .auth-nav__contacts-icon {
//                     fill: var(--accent-color);
//                 }
// }


// .auth-nav__icon {
//     fill: currentColor;
//     margin-right: 10px;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }



